body {
  font-family: sans-serif;
}

header {
  background-color: grey;
}

.logo {
  background-color: grey;
  color: white;
}

.container {
  width: 90%;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 3%;
}
